@charset "UTF-8";
body {
  color: #333; }

a {
  color: #900;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

a:hover,
a:focus {
  color: #c00;
  text-decoration: underline; }

::-moz-selection {
  background: #900;
  color: #fff; }

::selection {
  background: #900;
  color: #fff; }

.container-fluid {
  max-width: 72.25rem; }

.loading {
  background: url("../img/ajax-loader.gif") no-repeat center center;
  min-height: 52px;
  min-width: 52px; }

.btn {
  background: #900;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 5px 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 16, 0.5); }

.btn:hover,
.btn:focus {
  background: #c00;
  -webkit-box-shadow: inset 0 0 20px #900;
          box-shadow: inset 0 0 20px #900;
  color: #fff;
  text-decoration: none; }

.btn--close {
  position: absolute;
  right: 20px;
  top: 20px; }

.btn--nav:before {
  content: "☰";
  padding-right: 4px; }

.title {
  color: #600;
  font-family: "Lato", arial, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 16, 0.5); }

.contact .title {
  color: #ddd; }

.title--sub {
  font-size: 24px; }

.header {
  background: #fff;
  -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 16, 0.5);
          box-shadow: 0 -3px 3px rgba(0, 0, 16, 0.5); }

.header__title {
  color: #900;
  font: bold 42px Verdana, Geneva, sans-serif;
  height: 40px;
  letter-spacing: -3px;
  margin: 0;
  overflow: hidden;
  text-shadow: 1px -1px 0 rgba(0, 0, 16, 0.5); }

.header__nav {
  background: #900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#900), to(#600));
  background-image: -webkit-linear-gradient(#900, #600);
  background-image: linear-gradient(#900, #600);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 16, 0.5);
          box-shadow: 0 3px 3px rgba(0, 0, 16, 0.5);
  padding: 10px 0; }

.header__nav ul {
  clear: both;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.header__nav ul.active {
  max-height: 200px; }

.header__nav li {
  margin: 0; }

.header__nav ul a {
  color: #fff;
  display: block;
  font-family: "Lato", arial, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 16, 0.5); }

.header__nav ul a:hover,
.header__nav ul a:focus,
.header__nav ul .active {
  background: #900;
  text-decoration: none; }

@media (min-width: 48em) {
  .header__title {
    font-size: 80px;
    height: 75px; }
  .header__nav {
    padding: 0; }
  .header__nav ul {
    float: right;
    max-height: initial; }
  .header__nav li {
    float: left;
    width: auto; } }

.about {
  background: #eee;
  padding-bottom: 20px;
  padding-top: 20px; }

.about__content {
  background: url("https://avatar-ssl.xboxlive.com/avatar/saviomd/avatar-body.png") no-repeat right -20px;
  font-size: 18px;
  min-height: 240px;
  padding-right: 130px; }

.about__text {
  background: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px;
  position: relative; }

.about__text:after {
  border: 15px solid transparent;
  border-left-color: #fff;
  content: "";
  position: absolute;
  right: -30px;
  top: 20px; }

@media (min-width: 48em) {
  .about__content {
    font-size: 21px; } }

.list-social {
  padding-top: 10px; }

.list-social > li {
  float: left;
  margin: 10px 10px 0 0; }

.link-social {
  background: #aaa;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 22px;
  text-align: center;
  width: 44px; }

.link-social:hover,
.link-social:focus {
  -webkit-box-shadow: -2px 2px 0 rgba(0, 0, 16, 0.5);
          box-shadow: -2px 2px 0 rgba(0, 0, 16, 0.5);
  text-decoration: none;
  -webkit-transform: rotate(-2deg) scale(1.2);
      -ms-transform: rotate(-2deg) scale(1.2);
          transform: rotate(-2deg) scale(1.2); }

.link-social--atom:hover,
.link-social--atom:focus {
  background: #efeae1;
  color: #66595c; }

.link-social--facebook:hover,
.link-social--facebook:focus {
  background: #3b5998;
  color: #fff; }

.link-social--fifa:hover,
.link-social--fifa:focus {
  background: #2faec0;
  color: #d2f311; }

.link-social--github:hover,
.link-social--github:focus {
  background: #eaeaea;
  color: #222; }

.link-social--goodreads:hover,
.link-social--goodreads:focus {
  background: #e3dfc9;
  color: #382110; }

.link-social--googleplus:hover,
.link-social--googleplus:focus {
  background: #cd3726;
  color: #fff; }

.link-social--letterboxd:hover,
.link-social--letterboxd:focus {
  background: #14181c;
  color: #9ab; }

.link-social--linkedin:hover,
.link-social--linkedin:focus {
  background: #2e8dd7;
  color: #fff; }

.link-social--pinterest:hover,
.link-social--pinterest:focus {
  background: #c72527;
  color: #fff; }

.link-social--twitter:hover,
.link-social--twitter:focus {
  background: #2298f0;
  color: #fff; }

.link-social--xbox:hover,
.link-social--xbox:focus {
  background: #fff;
  color: #7b4; }

.feeds {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px; }

/*
posts
====================
*/
.post {
  background: #eee;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: block;
  height: 86px;
  padding: 10px 15px;
  text-decoration: none; }

.post:hover,
.post:focus {
  color: #c00;
  text-decoration: none; }

.post__title {
  max-height: 48px;
  /* (font-size*line-height)*2 */
  overflow: hidden; }

.post-wrapper--title-one-line .post__title {
  max-height: 24px; }

.post__body {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  max-height: 36px;
  /* (font-size*line-height)*2 */
  overflow: hidden; }

/*
pins
====================
*/
.pin-wrapper {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%; }

.pin {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  border: 1px solid #ccc;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.pin:hover,
.pin:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.work {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px; }

.work ul {
  padding: 0; }

.work__item {
  margin: 0 0 40px; }

.work__img {
  border: 1px solid #ccc;
  display: block;
  margin: 0 0 10px;
  padding: 0; }

.work__info {
  height: 130px;
  /* title+(work__technologies*2)+btn */
  padding: 0; }

.work__technologies {
  margin: 0 0 10px; }

.work__technologies > li {
  float: left;
  margin: 0; }

.work__technologies > li:after {
  content: ",";
  margin-right: 5px; }

.work__technologies > li:last-child:after {
  content: "";
  margin-right: 0; }

.contact {
  background: #666;
  color: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

.contact__content {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative; }

.contact__link {
  color: #ddd;
  text-decoration: underline; }

.contact__link:hover,
.contact__link:focus {
  color: #ccc; }

.footer {
  font-size: 14px;
  height: 100px;
  padding-top: 10px; }

.text-copyright {
  margin-bottom: 10px; }
