/*
variaveis
====================
*/
/*
base
====================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
img,
object,
embed {
  max-width: 100%;
}
img {
  height: auto;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.row:after {
  clear: both;
}
/*
helpers
====================
*/
.acenter {
  text-align: center;
}
.ajustify {
  text-align: justify;
}
.aleft {
  text-align: left;
}
.aright {
  text-align: right;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
/*
grid
====================
*/
.row {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
  width: 100%;
}
.row .row {
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  padding: 0 10px;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.col-off-1 {
  margin-left: 8.33333333%;
}
.col-off-2 {
  margin-left: 16.66666667%;
}
.col-off-3 {
  margin-left: 25%;
}
.col-off-4 {
  margin-left: 33.33333333%;
}
.col-off-5 {
  margin-left: 41.66666667%;
}
.col-off-6 {
  margin-left: 50%;
}
.col-off-7 {
  margin-left: 58.33333333%;
}
.col-off-8 {
  margin-left: 66.66666667%;
}
.col-off-9 {
  margin-left: 75%;
}
.col-off-10 {
  margin-left: 83.33333333%;
}
.col-off-11 {
  margin-left: 91.66666667%;
}
.col-off-12 {
  margin-left: 100%;
}
.visible {
  display: inherit!important;
}
.hidden {
  display: none!important;
}
.visible-s {
  display: inherit!important;
}
.visible-m {
  display: none!important;
}
.visible-l {
  display: none!important;
}
.hidden-s {
  display: none!important;
}
.hidden-m {
  display: inherit!important;
}
.hidden-l {
  display: inherit!important;
}
@media (min-width: 768px) {
  .col-m-1,
  .col-m-2,
  .col-m-3,
  .col-m-4,
  .col-m-5,
  .col-m-6,
  .col-m-7,
  .col-m-8,
  .col-m-9,
  .col-m-10,
  .col-m-11,
  .col-m-12 {
    float: left;
    padding: 0 10px;
  }
  .col-m-1 {
    width: 8.33333333%;
  }
  .col-m-2 {
    width: 16.66666667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33333333%;
  }
  .col-m-5 {
    width: 41.66666667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33333333%;
  }
  .col-m-8 {
    width: 66.66666667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33333333%;
  }
  .col-m-11 {
    width: 91.66666667%;
  }
  .col-m-12 {
    width: 100%;
  }
  .col-m-off-1 {
    margin-left: 8.33333333%;
  }
  .col-m-off-2 {
    margin-left: 16.66666667%;
  }
  .col-m-off-3 {
    margin-left: 25%;
  }
  .col-m-off-4 {
    margin-left: 33.33333333%;
  }
  .col-m-off-5 {
    margin-left: 41.66666667%;
  }
  .col-m-off-6 {
    margin-left: 50%;
  }
  .col-m-off-7 {
    margin-left: 58.33333333%;
  }
  .col-m-off-8 {
    margin-left: 66.66666667%;
  }
  .col-m-off-9 {
    margin-left: 75%;
  }
  .col-m-off-10 {
    margin-left: 83.33333333%;
  }
  .col-m-off-11 {
    margin-left: 91.66666667%;
  }
  .col-m-off-12 {
    margin-left: 100%;
  }
  .visible-s {
    display: none!important;
  }
  .visible-m {
    display: inherit!important;
  }
  .visible-l {
    display: none!important;
  }
  .hidden-s {
    display: inherit!important;
  }
  .hidden-m {
    display: none!important;
  }
  .hidden-l {
    display: inherit!important;
  }
}
@media (min-width: 992px) {
  .col-l-1,
  .col-l-2,
  .col-l-3,
  .col-l-4,
  .col-l-5,
  .col-l-6,
  .col-l-7,
  .col-l-8,
  .col-l-9,
  .col-l-10,
  .col-l-11,
  .col-l-12 {
    float: left;
    padding: 0 10px;
  }
  .col-l-1 {
    width: 8.33333333%;
  }
  .col-l-2 {
    width: 16.66666667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33333333%;
  }
  .col-l-5 {
    width: 41.66666667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33333333%;
  }
  .col-l-8 {
    width: 66.66666667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33333333%;
  }
  .col-l-11 {
    width: 91.66666667%;
  }
  .col-l-12 {
    width: 100%;
  }
  .col-l-off-1 {
    margin-left: 8.33333333%;
  }
  .col-l-off-2 {
    margin-left: 16.66666667%;
  }
  .col-l-off-3 {
    margin-left: 16.66666667%;
  }
  .col-l-off-4 {
    margin-left: 33.33333333%;
  }
  .col-l-off-5 {
    margin-left: 41.66666667%;
  }
  .col-l-off-6 {
    margin-left: 50%;
  }
  .col-l-off-7 {
    margin-left: 58.33333333%;
  }
  .col-l-off-8 {
    margin-left: 66.66666667%;
  }
  .col-l-off-9 {
    margin-left: 75%;
  }
  .col-l-off-10 {
    margin-left: 83.33333333%;
  }
  .col-l-off-11 {
    margin-left: 91.66666667%;
  }
  .col-l-off-12 {
    margin-left: 100%;
  }
  .visible-s {
    display: none!important;
  }
  .visible-m {
    display: none!important;
  }
  .visible-l {
    display: inherit!important;
  }
  .hidden-s {
    display: inherit!important;
  }
  .hidden-m {
    display: inherit!important;
  }
  .hidden-l {
    display: none!important;
  }
}
/*
estrutura
====================
*/
body {
  color: #333;
  font: normal 16px/1.5 Arial, Helvetica, sans-serif;
}
a {
  color: #900;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all .3s;
          transition: all .3s;
}
a:active {
  outline: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
p,
li {
  margin: 0 0 10px;
}
ul {
  list-style: none;
  margin: 0;
}
::-moz-selection {
  background: #900;
  color: #fff;
}
::selection {
  background: #900;
  color: #fff;
}
.loading {
  background: url(../img/ajax-loader.gif) no-repeat center center;
  min-height: 52px;
  min-width: 52px;
}
/*
botoes
====================
*/
.btn {
  background: #900;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 16, 0.5);
}
.btn:hover,
.btn:focus {
  background: #c00;
  -webkit-box-shadow: inset 0 0 20px #900;
          box-shadow: inset 0 0 20px #900;
  text-decoration: none;
}
.btn--fechar {
  position: absolute;
  right: 20px;
  top: 20px;
}
.btn--nav:before {
  content: "☰";
  padding-right: 4px;
}
/*
titulos
====================
*/
.titulo {
  color: #600;
  font-family: "Lato", arial, serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 16, 0.5);
}
.contato .titulo {
  color: #ddd;
}
.titulo--sub {
  font-size: 24px;
}
/*
cabecalho
====================
*/
.header {
  background: #fff;
  -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 16, 0.5);
          box-shadow: 0 -3px 3px rgba(0, 0, 16, 0.5);
}
.header__titulo {
  color: #900;
  font: bold 42px Verdana, Geneva, sans-serif;
  height: 40px;
  letter-spacing: -3px;
  margin: 0;
  overflow: hidden;
  text-shadow: 1px -1px 0 rgba(0, 0, 16, 0.5);
}
.header__nav {
  background: #900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#660000));
  background-image: -webkit-linear-gradient(#990000, #660000);
  background-image: linear-gradient(#990000, #660000);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 16, 0.5);
          box-shadow: 0 3px 3px rgba(0, 0, 16, 0.5);
  padding: 10px 0;
}
.header__nav ul {
  clear: both;
  display: none;
  margin: 0;
  padding: 0;
}
.header__nav li {
  margin: 0;
}
.header__nav ul a {
  color: #fff;
  display: block;
  font-family: "Lato", arial, serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 16, 0.5);
}
.header__nav ul a:hover,
.header__nav ul a:focus,
.header__nav ul .ativo {
  background: #900;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__titulo {
    font-size: 80px;
    height: 75px;
  }
  .header__nav {
    padding: 0;
  }
  .header__nav ul {
    display: block!important;
    float: right;
  }
  .header__nav li {
    float: left;
    width: auto;
  }
}
/*
secoes
====================
*/
.sobre,
.blog,
.github,
.trabalhos {
  padding: 20px 0;
}
.blog,
.github,
.trabalhos {
  border-bottom: 1px solid #ccc;
}
/*
sobre
====================
*/
.sobre {
  background: #eee;
}
.sobre__conteudo {
  background: url(https://avatar-ssl.xboxlive.com/avatar/saviomd/avatar-body.png) no-repeat right -20px;
  font-size: 18px;
  min-height: 240px;
  padding-right: 130px;
}
.sobre__texto {
  background: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px;
  position: relative;
}
.sobre__texto:after {
  border: 15px solid transparent;
  border-left-color: #fff;
  content: "";
  position: absolute;
  right: -30px;
  top: 20px;
}
@media (min-width: 768px) {
  .sobre__conteudo {
    font-size: 21px;
  }
}
.lista-redes-sociais {
  padding-top: 10px;
}
.lista-redes-sociais > li {
  float: left;
  margin: 10px 10px 0 0;
}
.link-rede-social {
  background: #aaa;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 22px;
  text-align: center;
  width: 44px;
}
.link-rede-social:hover,
.link-rede-social:focus {
  -webkit-box-shadow: -2px 2px 0 rgba(0, 0, 16, 0.5);
          box-shadow: -2px 2px 0 rgba(0, 0, 16, 0.5);
  text-decoration: none;
  -webkit-transform: rotate(-2deg) scale(1.2);
      -ms-transform: rotate(-2deg) scale(1.2);
          transform: rotate(-2deg) scale(1.2);
}
.link-rede-social--atom:hover,
.link-rede-social--atom:focus {
  background: #efeae1;
  color: #66595c;
}
.link-rede-social--facebook:hover,
.link-rede-social--facebook:focus {
  background: #3b5998;
}
.link-rede-social--fifa:hover,
.link-rede-social--fifa:focus {
  background: #000;
  color: #f8cc32;
}
.link-rede-social--github:hover,
.link-rede-social--github:focus {
  background: #eaeaea;
  color: #222;
}
.link-rede-social--goodreads:hover,
.link-rede-social--goodreads:focus {
  background: #e3dfc9;
  color: #382110;
}
.link-rede-social--googleplus:hover,
.link-rede-social--googleplus:focus {
  background: #cd3726;
}
.link-rede-social--letterboxd:hover,
.link-rede-social--letterboxd:focus {
  background: #14181c;
  color: #9ab;
}
.link-rede-social--linkedin:hover,
.link-rede-social--linkedin:focus {
  background: #6db7d4;
}
.link-rede-social--pinterest:hover,
.link-rede-social--pinterest:focus {
  background: #c72527;
}
.link-rede-social--steam:hover,
.link-rede-social--steam:focus {
  background: #262626;
}
.link-rede-social--twitter:hover,
.link-rede-social--twitter:focus {
  background: #2298f0;
}
.link-rede-social--xbox:hover,
.link-rede-social--xbox:focus {
  background: #fff;
  color: #7b4;
}
/*
posts
====================
*/
.lista-posts {
  margin: 0 0 10px;
  padding: 0;
}
.lista-posts > li {
  margin: 0;
  padding: 0;
}
.lista-posts a {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: block;
  height: 86px;
  padding: 10px;
  text-decoration: none;
}
.lista-posts a:hover,
.lista-posts a:focus {
  background: #eee;
}
.lista-posts__titulo {
  max-height: 48px;
  /* (font-size*line-height)*2 */
  overflow: hidden;
}
.lista-posts--titulo-uma-linha .lista-posts__titulo {
  max-height: 24px;
}
.lista-posts__corpo {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  max-height: 36px;
  /* (font-size*line-height)*2 */
  overflow: hidden;
}
/*
trabalhos
====================
*/
.trabalhos ul {
  padding: 0;
}
.trabalho {
  margin: 0 0 40px;
}
.trabalho__foto {
  border: 1px solid #ccc;
  display: block;
  margin: 0 0 10px;
  padding: 0;
}
.trabalho__info {
  height: 130px;
  padding: 0;
}
.trabalho__tecnologias {
  margin: 0 0 10px;
}
.trabalho__tecnologias > li {
  float: left;
  margin: 0;
}
.trabalho__tecnologias > li:after {
  content: ",";
  margin-right: 5px;
}
.trabalho__tecnologias > li:last-child:after {
  content: "";
  margin-right: 0;
}
/*
rodape
====================
*/
.footer {
  font-size: 14px;
  height: 100px;
  padding: 10px 0;
}
.text-copyright {
  margin: 0 0 10px;
}
/*
contato
====================
*/
.contato {
  background: #666;
  color: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.contato__conteudo {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}
.contato__link {
  color: #ddd;
  text-decoration: underline;
}
