include ../_data/site.jade

doctype html
html.no-js(lang=site.lang)

	block pageData

	include ../_includes/head.jade
	body
		include ../_includes/header.jade
		block content
		include ../_includes/footer.jade
