- var links = []
- links.push({'name': 'LinkedIn', 'url': 'https://www.linkedin.com/in/saviomd', 'icon': 'in', 'class': 'linkedin'})
- links.push({'name': 'GitHub', 'url': 'http://github.com/saviomd', 'icon': 'g', 'class': 'github'})
- links.push({'name': 'Atom', 'url': 'https://atom.io/users/saviomd/stars', 'icon': 'A', 'class': 'atom'})
- links.push({'name': 'twitter', 'url': 'https://twitter.com/saviomd', 'icon': 't', 'class': 'twitter'})
- links.push({'name': 'Facebook', 'url': 'https://www.facebook.com/saviomd', 'icon': 'f', 'class': 'facebook'})
- links.push({'name': 'Letterboxd', 'url': 'http://letterboxd.com/saviomd', 'icon': 'L', 'class': 'letterboxd'})
- links.push({'name': 'Pinterest', 'url': 'https://www.pinterest.com/saviomd', 'icon': 'P', 'class': 'pinterest'})
- links.push({'name': 'Goodreads', 'url': 'https://www.pinterest.com/saviomd', 'icon': 'gr', 'class': 'goodreads'})
- links.push({'name': 'Google+', 'url': 'https://plus.google.com/116210046474118390059', 'icon': 'g+', 'class': 'googleplus'})
- links.push({'name': 'Xbox Live', 'url': 'http://live.xbox.com/Profile?gamertag=saviomd', 'icon': 'X', 'class': 'xbox'})
- links.push({'name': 'FIFA 15', 'url': 'https://www.easports.com/fifa/game-data/stats/saviomd/fifa15-xbox360/fifaSeasons', 'icon': '15', 'class': 'fifa'})
