- var date = new Date()
- var year = date.getFullYear()

- var site = {}
- site.lang = 'pt-BR'
- site.name = 'saviomd.com'
- site.url = 'http://saviomd.com/'
- site.googleAnalyticsUA = 'UA-22412489-1'
- site.twitter = 'saviomd'
- site.fbadmins = 'saviomd'
