- var trabalhos = []
- trabalhos.push({'name': 'Dribles FIFA', 'url': 'http://saviomd.com/driblesfifa', 'image': 'img/trabalhos/dribles-fifa.jpg', 'tags': ['Layout', 'HTML', 'CSS', 'JavaScript', 'jQuery']})
- trabalhos.push({'name': 'Jogatina', 'url': 'http://www.jogatina.com', 'image': 'img/trabalhos/jogatina.jpg', 'tags': ['HTML', 'CSS', 'JavaScript', 'jQuery', 'AJAX', 'JSON']})
- trabalhos.push({'name': 'Cauax', 'url': 'http://www.cauax.com', 'image': 'img/trabalhos/cauax.jpg', 'tags': ['HTML', 'CSS', 'JavaScript', 'jQuery']})
- trabalhos.push({'name': 'Farmácia Magna', 'url': 'http://www.farmaciamagna.com.br', 'image': 'img/trabalhos/farmacia-magna.jpg', 'tags': ['Layout', 'CSS', 'JavaScript', 'jQuery', 'Drupal']})
- trabalhos.push({'name': 'FGV EESP', 'url': 'http://eesp.fgv.br', 'image': 'img/trabalhos/fgv-eesp.jpg', 'tags': ['Layout', 'CSS', 'JavaScript', 'jQuery', 'Drupal']})
- trabalhos.push({'name': 'FGV Management', 'url': 'http://www.fgv.br/fgvmanagement', 'image': 'img/trabalhos/fgv-management.jpg', 'tags': ['CSS', 'JavaScript', 'jQuery', 'Drupal']})
