footer.footer.row
	.col-12
		.text-copyright.fleft!= '&copy; 2007-' + year + ' Sávio Mendes'
		a.fright.js-link-html5(href='http://www.w3.org/html/logo/' target='_blank')
			img(src='http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png' alt='HTML5 Powered with CSS3 / Styling, and Semantics' title='HTML5 Powered with CSS3 / Styling, and Semantics')

script(src='/lib/js/jquery.min.js')
script(src='js/saviomd.min.js')
script.
	// mouseflow
	if (location.search.indexOf('a=0') === -1){
		var _mfq = _mfq || [];
		(function () {
			var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
			mf.src = "//cdn.mouseflow.com/projects/420e55c5-735c-4417-a87b-1d0f60f73ff6.js";
			document.getElementsByTagName("head")[0].appendChild(mf);
		})();
	}
