extends /templates/default

block pageData
	-
		page = {}
		page.path = ''
		page.title = 'Sávio Mendes, desenvolvedor web / front-end e designer de interfaces'
		page.description = site.description

block content

	include /includes/about
	include /includes/links
	include /includes/work
	include /includes/contact
