block pageData
	-
		page = {}
		page.path = ''
		page.title = 'Sávio Mendes, desenvolvedor web / front-end e designer de interfaces'
		page.description = site.description

extends /templates/default.jade

block content

	include /includes/about.jade
	include /includes/feeds.jade
	include /includes/work.jade
	include /includes/contact.jade
