-
	var links = [
		{
			'class': 'linkedin',
			'name': 'LinkedIn',
			'url': 'https://www.linkedin.com/in/saviomd'
		},
		{
			'class': 'github',
			'name': 'GitHub',
			'url': 'http://github.com/saviomd'
		},
		{
			'class': 'atom',
			'name': 'Atom',
			'url': 'https://atom.io/users/saviomd/stars'
		},
		{
			'class': 'twitter',
			'name': 'Twitter',
			'url': 'https://twitter.com/saviomd'
		},
		{
			'class': 'facebook',
			'name': 'Facebook',
			'url': 'https://www.facebook.com/saviomd'
		},
		{
			'class': 'letterboxd',
			'name': 'Letterboxd',
			'url': 'http://letterboxd.com/saviomd'
		},
		{
			'class': 'pinterest',
			'name': 'Pinterest',
			'url': 'https://www.pinterest.com/saviomd'
		},
		{
			'class': 'goodreads',
			'name': 'Goodreads',
			'url': 'https://www.goodreads.com/saviomd'
		},
		{
			'class': 'xbox',
			'name': 'Xbox Live',
			'url': 'http://live.xbox.com/Profile?gamertag=saviomd'
		}
	]
