-
	var links = [
		{
			'name': 'LinkedIn',
			'url': 'https://www.linkedin.com/in/saviomd',
			'icon': 'in',
			'class': 'linkedin'
		},
		{
			'name': 'GitHub',
			'url': 'http://github.com/saviomd',
			'icon': 'g',
			'class': 'github'
		},
		{
			'name': 'Atom',
			'url': 'https://atom.io/users/saviomd/stars',
			'icon': 'A',
			'class': 'atom'
		},
		{
			'name': 'twitter',
			'url': 'https://twitter.com/saviomd',
			'icon': 't',
			'class': 'twitter'
		},
		{
			'name': 'Facebook',
			'url': 'https://www.facebook.com/saviomd',
			'icon': 'f',
			'class': 'facebook'
		},
		{
			'name': 'Letterboxd',
			'url': 'http://letterboxd.com/saviomd',
			'icon': 'L',
			'class': 'letterboxd'
		},
		{
			'name': 'Pinterest',
			'url': 'https://www.pinterest.com/saviomd',
			'icon': 'P',
			'class': 'pinterest'
		},
		{
			'name': 'Goodreads',
			'url': 'https://www.goodreads.com/saviomd',
			'icon': 'gr',
			'class': 'goodreads'
		},
		{
			'name': 'Google+',
			'url': 'https://plus.google.com/116210046474118390059',
			'icon': 'g+',
			'class': 'googleplus'
		},
		{
			'name': 'Xbox Live',
			'url': 'http://live.xbox.com/Profile?gamertag=saviomd',
			'icon': 'X',
			'class': 'xbox'
		},
		{
			'name': 'FIFA 16',
			'url': 'https://www.easports.com/fifa/game-data/stats/saviomd/fifa16-xboxone/fifaSeasons',
			'icon': '16',
			'class': 'fifa'
		}
	]
