-
  links = [
    {
      class: "linkedin",
      name: "LinkedIn",
      url: "https://www.linkedin.com/in/saviomd",
    },
    {
      class: "github",
      name: "GitHub",
      url: "http://github.com/saviomd",
    },
    {
      class: "twitter",
      name: "Twitter",
      url: "https://twitter.com/saviomd",
    },
    {
      class: "letterboxd",
      name: "Letterboxd",
      url: "http://letterboxd.com/saviomd",
    },
    {
      class: "spotify",
      name: "Spotify",
      url: "https://open.spotify.com/user/saviomd",
    },
    {
      class: "instagram",
      name: "Instagram",
      url: "https://www.instagram.com/saviomd",
    },
    {
      class: "facebook",
      name: "Facebook",
      url: "https://www.facebook.com/saviomd",
    },
    {
      class: "pinterest",
      name: "Pinterest",
      url: "https://www.pinterest.com/saviomd",
    },
    {
      class: "unsplash",
      name: "Unsplash",
      url: "https://unsplash.com/@saviomd",
    },
    {
      class: "goodreads",
      name: "Goodreads",
      url: "https://www.goodreads.com/saviomd",
    },
    {
      class: "xbox",
      name: "Xbox Live",
      url: "http://live.xbox.com/Profile?gamertag=saviomd",
    },
    {
      class: "trueachievements",
      name: "TrueAchievements",
      url: "https://www.trueachievements.com/gamer/saviomd",
    }
  ]
