-
  projects = [
    {
      description: "Web app com dados e estatísticas de times, partidas e jogadores do modo Pro Clubs do FIFA",
      icon: "https://proclubshead.com/assets/img/21/appicon.png",
      name: "Pro Clubs Head",
      tags: ["Arquitetura de informação", "Layout", "Node.js", "Express", "HTML", "Pug", "CSS", "Sass", "JavaScript"],
      url: "https://proclubshead.com/",
    },
    {
      description: "Site ilustrando a evolução ano a ano das listras na camisa principal do Flamengo",
      icon: "https://saviomd.com/listrasflamengo/logo512.png",
      name: "Listras do Flamengo",
      tags: ["Layout", "HTML", "CSS", "JavaScript", "React"],
      url: "https://saviomd.com/listrasflamengo",
    },
    {
      description: "Web app com minhas notas de filmes e estatísticas na rede social Letterboxd",
      icon: "https://saviomd.com/movieratings/img/appicon.png",
      name: "Movie ratings",
      tags: ["Layout", "HTML", "JavaScript", "React"],
      url: "https://saviomd.com/movieratings/",
    },
    {
      description: "Web app com comandos de dribles e comemorações do FIFA",
      icon: "https://saviomd.com/driblesfifa/img/icon-256.png",
      name: "Dribles FIFA",
      tags: ["Layout", "HTML", "Pug", "CSS", "Sass", "JavaScript", "jQuery"],
      url: "https://saviomd.com/driblesfifa/",
    },
  ]
