-
	var sections = [
		{
			id: 'about',
			name: 'Sobre'
		},
		{
			id: 'links',
			name: 'Links'
		},
		{
			id: 'blog',
			name: 'Blog'
		},
		{
			id: 'work',
			name: 'Trabalhos'
		},
		{
			id: 'contact',
			name: 'Contato'
		}
	]
