-
  site = {}
  site.lang = "pt-BR"
  site.name = "saviomd.com"
  site.description = "Site pessoal de Sávio Mendes com portfólio de trabalhos realizados em desenvolvimento e design web"
  site.url = "https://saviomd.com/"
  site.themeColor = "#fff"
  site.twitter = "saviomd"
  site.prod = true
  site.googleAnalyticsUA = `UA-22412489-${site.prod ? "1" : "2"}`
  site.minify = true
  site.noindex = false

  date = new Date()
  year = date.getFullYear()
