-
	var work = [
		{
			'name': 'Pro Clubs Head',
			'tags': ['Arquitetura de informação', 'Layout', 'Node.js', 'Express', 'HTML', 'Jade', 'CSS', 'Sass', 'JavaScript', 'jQuery'],
			'url': 'http://proclubshead.com/'
		},
		{
			'name': 'Movie ratings',
			'tags': ['Layout', 'HTML', 'JavaScript', 'React'],
			'url': 'http://saviomd.com/movieratings/'
		},
		{
			'name': 'Dribles FIFA',
			'tags': ['Layout', 'HTML', 'Jade', 'CSS', 'Sass', 'JavaScript', 'jQuery'],
			'url': 'http://saviomd.com/driblesfifa/'
		},
		{
			'name': 'Jogatina Apps',
			'tags': ['Arquitetura de informação', 'Jade', 'Otimizações de performance'],
			'url': 'http://apps.jogatina.com'
		},
		{
			'name': 'Jogatina',
			'tags': ['Arquitetura de informação', 'HTML', 'JSP', 'Thymeleaf', 'CSS', 'Less', 'JavaScript', 'jQuery', 'AJAX', 'JSON', 'Otimizações de performance'],
			'url': 'http://www.jogatina.com'
		},
		{
			'name': 'Gazeus Games',
			'tags': ['Jade', 'JavaScript', 'jQuery', 'AJAX', 'Otimizações de performance'],
			'url': 'http://www.gazeus.com'
		},
		{
			'name': 'Cauax',
			'tags': ['HTML', 'CSS', 'JavaScript', 'jQuery'],
			'url': 'http://www.cauax.com'
		},
		{
			'name': 'FGV EESP',
			'tags': ['Layout', 'Arquitetura de informação', 'CSS', 'JavaScript', 'jQuery', 'Drupal'],
			'url': 'http://eesp.fgv.br'
		},
		{
			'name': 'FGV Management',
			'tags': ['CSS', 'JavaScript', 'jQuery', 'Drupal'],
			'url': 'http://www.fgv.br/fgvmanagement'
		}
	]
