-
	var work = [
		{
			'name': 'Dribles FIFA',
			'class': 'dribles-fifa',
			'url': 'http://saviomd.com/driblesfifa/',
			'tags': ['Layout', 'HTML', 'Jade', 'CSS', 'Sass', 'JavaScript', 'jQuery']
		},
		{
			'name': 'Jogatina Apps',
			'class': 'jogatina-apps',
			'url': 'http://apps.jogatina.com',
			'tags': ['Arquitetura de informação', 'Jade', 'Otimizações de performance']
		},
		{
			'name': 'Jogatina',
			'class': 'jogatina',
			'url': 'http://www.jogatina.com',
			'tags': ['Arquitetura de informação', 'HTML', 'JSP', 'Thymeleaf', 'CSS', 'Less', 'JavaScript', 'jQuery', 'AJAX', 'JSON', 'Otimizações de performance']
		},
		{
			'name': 'Gazeus Games',
			'class': 'gazeus-games',
			'url': 'http://www.gazeus.com',
			'tags': ['Jade', 'JavaScript', 'jQuery', 'AJAX', 'Otimizações de performance']
		},
		{
			'name': 'Cauax',
			'class': 'cauax',
			'url': 'http://www.cauax.com',
			'tags': ['HTML', 'CSS', 'JavaScript', 'jQuery']
		},
		{
			'name': 'FGV EESP',
			'class': 'fgv-eesp',
			'url': 'http://eesp.fgv.br',
			'tags': ['Layout', 'Arquitetura de informação', 'CSS', 'JavaScript', 'jQuery', 'Drupal']
		},
		{
			'name': 'FGV Management',
			'class': 'fgv-management',
			'url': 'http://www.fgv.br/fgvmanagement',
			'tags': ['CSS', 'JavaScript', 'jQuery', 'Drupal']
		}
	]
