-
	var work = [
		{
			'description': 'Web app com dados e estatísticas de times, partidas e jogadores do modo Pro Clubs do FIFA',
			'name': 'Pro Clubs Head',
			'tags': ['Arquitetura de informação', 'Layout', 'Node.js', 'Express', 'HTML', 'Pug', 'CSS', 'Sass', 'JavaScript', 'jQuery'],
			'url': 'https://proclubshead.com/'
		},
		{
			'description': 'Site ilustrando a evolução ano a ano das listras na camisa principal do Flamengo',
			'name': 'Listras do Flamengo',
			'tags': ['Layout', 'HTML', 'CSS', 'JavaScript', 'React'],
			'url': 'https://saviomd.com/listrasflamengo'
		},
		{
			'description': 'Web app com minhas notas de filmes e estatísticas na rede social Letterboxd',
			'name': 'Movie ratings',
			'tags': ['Layout', 'HTML', 'JavaScript', 'React'],
			'url': 'https://saviomd.com/movieratings/'
		},
		{
			'description': 'Web app com comandos de dribles e comemorações do FIFA',
			'name': 'Dribles FIFA',
			'tags': ['Layout', 'HTML', 'Pug', 'CSS', 'Sass', 'JavaScript', 'jQuery'],
			'url': 'https://saviomd.com/driblesfifa/'
		},
		{
			'description': 'Site com apresentação de todos os jogos mobile do Jogatina',
			'name': 'Jogatina Apps',
			'tags': ['Arquitetura de informação', 'Pug'],
			'url': 'http://apps.jogatina.com'
		},
		{
			'description': 'Site de jogos de carteado e outros clássicos online e multiplayer',
			'name': 'Jogatina',
			'tags': ['Arquitetura de informação', 'HTML', 'JSP', 'Thymeleaf', 'CSS', 'Less', 'JavaScript', 'jQuery', 'AJAX', 'JSON'],
			'url': 'https://www.jogatina.com'
		},
		{
			'description': 'Site de empresa de jogos online e mobile',
			'name': 'Gazeus Games',
			'tags': ['Pug', 'JavaScript', 'jQuery', 'AJAX'],
			'url': 'https://www.gazeus.com'
		},
	]
