.about {
	background: #eee;
	padding-bottom: 20px;
	padding-top: 20px;
}

.about__content {
	background: url("https://avatar-ssl.xboxlive.com/avatar/saviomd/avatar-body.png") no-repeat right -20px;
	font-size: 18px;
	min-height: 240px;
	padding-right: 130px;
}

.about__text {
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	position: relative;
}

.about__text:after {
	border: 15px solid transparent;
	border-left-color: #fff;
	content: "";
	position: absolute;
	right: -30px;
	top: 20px;
}

@include media-breakpoint-up(md) {
	.about__content {
		font-size: 21px;
	}
}

.list-social {
	padding-top: 10px;
}

.list-social > li {
	float: left;
	margin: 10px 10px 0 0;
}

.link-social {
	background: #aaa;
	border-radius: 5px;
	color: #fff;
	display: block;
	font-size: 22px;
	text-align: center;
	width: 44px;
}

.link-social:hover,
.link-social:focus {
	box-shadow: -2px 2px 0 rgba(0, 0, 16, 0.5);
	text-decoration: none;
	transform: rotate(-2deg) scale(1.2);
}

.link-social--atom:hover,
.link-social--atom:focus {
	background: #efeae1;
	color: #66595c;
}

.link-social--facebook:hover,
.link-social--facebook:focus {
	background: #3b5998;
	color: #fff;
}

.link-social--fifa:hover,
.link-social--fifa:focus {
	background: #2faec0;
	color: #d2f311;
}

.link-social--github:hover,
.link-social--github:focus {
	background: #eaeaea;
	color: #222;
}

.link-social--goodreads:hover,
.link-social--goodreads:focus {
	background: #e3dfc9;
	color: #382110;
}

.link-social--googleplus:hover,
.link-social--googleplus:focus {
	background: #cd3726;
	color: #fff;
}

.link-social--letterboxd:hover,
.link-social--letterboxd:focus {
	background: #14181c;
	color: #9ab;
}

.link-social--linkedin:hover,
.link-social--linkedin:focus {
	background: #2e8dd7;
	color: #fff;
}

.link-social--pinterest:hover,
.link-social--pinterest:focus {
	background: #c72527;
	color: #fff;
}

.link-social--twitter:hover,
.link-social--twitter:focus {
	background: #2298f0;
	color: #fff;
}

.link-social--xbox:hover,
.link-social--xbox:focus {
	background: #fff;
	color: #7b4;
}
