.blog {
	border-bottom: 1px solid #ccc;
}

/*
posts
====================
*/

$post-body-font-size: ($font-size-base * (3 / 4));
$post-padding-y: ($spacer / 2);

.post {
	background: #eee;
	border-radius: $spacer / 2;
	display: block;
	padding: $post-padding-y $spacer;
	text-decoration: none;
}

@include media-breakpoint-up(sm) {

	.post {
		height: ($font-size-base * $line-height-base * 2) + ($post-body-font-size * $line-height-base) + ($post-padding-y * 2);
	}

}

.post:hover,
.post:focus {
	color: #c00;
	text-decoration: none;
}

@include media-breakpoint-up(sm) {

	.post__title {
		max-height: $font-size-base * $line-height-base * 2;
		overflow: hidden;
	}

}

.post__date {
	color: #333;
	font-size: $post-body-font-size;
	font-weight: 400;
}
