.feeds {
	border-bottom: 1px solid #ccc;
}

/*
posts
====================
*/

.post {
	background: #eee;
	border-radius: 5px;
	display: block;
	height: ($font-size-base * $line-height * 2) + ($font-size-xs * $line-height) + ($font-size-xs * 2);
	padding: ($spacer / 2) $spacer;
	text-decoration: none;
}

.post:hover,
.post:focus {
	color: #c00;
	text-decoration: none;
}

.post__title {
	max-height: $font-size-base * $line-height * 2;
	overflow: hidden;
}

.post-wrapper--title-one-line .post__title {
	max-height: $font-size-base * $line-height;
}

.post__body {
	color: #333;
	font-size: $font-size-xs;
	font-weight: 400;
	max-height: $font-size-xs * $line-height * 2;
	overflow: hidden;
}

/*
pins
====================
*/

.pin-wrapper {
	overflow: visible;
}

.pin {
	background-position: center;
	background-size: cover;
	border: 1px solid #ccc !important;
}

.pin:hover,
.pin:focus {
	transform: scale(1.1);
}
