.feeds {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	padding-top: 20px;
}

/*
posts
====================
*/

.post {
	background: #eee;
	border-radius: 5px;
	display: block;
	height: 86px;
	padding: 10px 15px;
	text-decoration: none;
}

.post:hover,
.post:focus {
	color: #c00;
	text-decoration: none;
}

.post__title {
	max-height: 48px; /* (font-size*line-height)*2 */
	overflow: hidden;
}

.post-wrapper--title-one-line .post__title {
	max-height: 24px;
}

.post__body {
	color: #333;
	font-size: 12px;
	font-weight: 400;
	max-height: 36px; /* (font-size*line-height)*2 */
	overflow: hidden;
}

/*
pins
====================
*/

.pin-wrapper {
	height: 0;
	padding-bottom: 100%;
	position: relative;
	width: 100%;
}

.pin {
	background-position: center;
	background-size: cover;
	border: 1px solid #ccc;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.pin:hover,
.pin:focus {
	transform: scale(1.1);
}
