$link-social-variants: (
	atom: (
		#584b4f,
		#efeae1
	),
	facebook: (
		#3b5998,
		#fff
	),
	github: (
		#24292e,
		#eee
	),
	goodreads: (
		#e3dfc9,
		#382110
	),
	letterboxd: (
		#14181c,
		#9ab
	),
	linkedin: (
		#2e8dd7,
		#fff
	),
	pinterest: (
		#c72527,
		#fff
	),
	twitter: (
		#2298f0,
		#fff
	),
	xbox: (
		#107c10,
		#fff
	)
);

.link-social {
	border-radius: $spacer / 2;
	display: block;
	font-size: 22px;
	text-align: center;
	width: 44px;
}

.link-social:hover,
.link-social:focus {
	box-shadow: -2px 2px 0 rgba(0, 0, 16, 0.5);
	text-decoration: none;
	transform: rotate(-2deg) scale(1.2);
}

@each $name, $colors in $link-social-variants {

	.link-social--#{$name},
	.link-social--#{$name}:hover,
	.link-social--#{$name}:focus {
		background: nth($colors, 1);
		color: nth($colors, 2);
	}

}
