@use "sass:math";

.title {
  color: #300;
  font-family: Lato, arial, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: math.div($spacer, 2);
}

.title--sub {
  font-size: 24px;
}
