.work {
	border-bottom: 1px solid #ccc;
}

.work__item {
	border-bottom: 1px solid #ccc;
}

.work__technology:after {
	content: ",";
	margin-right: 5px;
}

.work__technology:last-child:after {
	content: "";
	margin-right: 0;
}
