include /data/links.jade

section.about.p-y-1#about
	.container-fluid
		.row
			.about__content.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
				h2.title= 'Sobre'
				.about__text.p-a-1.animated.fadeInLeft= 'Olá, meu nome é Sávio Mendes, sou desenvolvedor front-end / designer de interfaces / analista de produto (não necessariamente ao mesmo tempo e nessa ordem), carioca, flamenguista, maluco por filmes, lateral / ala direito nas peladas de quarta e sábado, fã de Iron Maiden, Van Halen e Faith No More.'
			ul.list-unstyled.m-b-0.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2.animated.fadeInUp
				each link in links
					li.pull-xs-left.m-t-1.m-r-1
						a(class='link-social link-social--' + link.class, href=link.url, target='_blank', title=link.name, ga-on='click', ga-event-category=site.name, ga-event-action='Sobre', ga-event-label=link.name)= link.icon
