section#about.about.py-3
  .container-fluid
    .row.justify-content-center
      .about__content.col-12.col-md-10.col-lg-8
        h2.title= 'Sobre'
        .about__text.p-3.animated.fadeInLeft= 'Olá, meu nome é Sávio Mendes, sou desenvolvedor front-end / designer de interfaces, carioca, flamenguista, maluco por filmes, lateral / ala direito nas peladas de segunda e quarta, fã de Iron Maiden, Van Halen, Faith No More, John Mayer, Dave Matthews Band, Mr. Big, blá blá blá, etc.'
