footer.footer.container-fluid.pt-3
	.mb-3.float-left!= '&copy; 2007-' + year + ' Sávio Mendes'
	a.mb-3.float-right.js-link-html5(href='https://www.w3.org/html/logo/', target='_blank')
		img(src='https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png', alt='HTML5 Powered with CSS3 / Styling, and Semantics', title='HTML5 Powered with CSS3 / Styling, and Semantics', ga-on='click', ga-event-category=site.name, ga-event-action='Rodapé', ga-event-label='W3C HTML5')

script(defer, src='js/vendor' + (site.minify ? '.min' : '') + '.js')
script(defer, src='js/saviomd' + (site.minify ? '.min' : '') + '.js')
script.
	// mouseflow
	if (location.search.indexOf('a=0') === -1) {
		var _mfq = _mfq || [];
		(function () {
			var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
			mf.src = "//cdn.mouseflow.com/projects/420e55c5-735c-4417-a87b-1d0f60f73ff6.js";
			document.getElementsByTagName("head")[0].appendChild(mf);
		})();
	}
