include /data/links.jade

section.about#about
	.container-fluid
		.row
			.about__content.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				h2.title= 'Sobre'
				.about__text.animated.fadeInLeft= 'Olá, meu nome é Sávio Mendes, sou desenvolvedor web / front-end e designer de interfaces, carioca, flamenguista, maluco por filmes, lateral / meio-campo nas peladas de fim de semana, fã de Iron Maiden, Van Halen e Faith No More.'
			ul.list-social.list-unstyled.animated.fadeInUp.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				each link in links
					li
						a(class='link-social link-social--' + link.class, href=link.url, target='_blank', title=link.name)= link.icon
