section.contact#contact
	.container-fluid
		.row
			.contact__content.col-xs-12.col-md-6.col-md-offset-3
				h2.title= 'Contato'
				p!= 'Ofertas de emprego para trabalhar pouco e ganhar muito, convites para jogar futebol e etc podem ser enviados para o meu email <a class="contact__link" href="mailto:savio@saviomd.com?subject=[Contato site] " target="_blank">clicando aqui</a>.'
				a.btn.btn--close.js-close-contact(href='#')= 'X'
