include /data/work.jade

section#work.work.container-fluid.py-3
	.row.justify-content-center
		.col-12.col-md-8.col-lg-6
			h2.title= 'Trabalhos'
			ul.list-unstyled
				each item in work
					li
						.work__item.mb-4.py-3.clearfix.wow.fadeIn
							header
								h3.title.title--sub= item.name
							ul.list-inline.mb-3
								each tag in item.tags
									li.work__technology.list-inline-item= tag
							if item.url
								.text-right
									a.btn.work__btn(href=item.url, rel='noopener', target='_blank', ga-on='click', ga-event-category=site.name, ga-event-action='Trabalhos', ga-event-label=item.name)= 'Visite o site'
